.mainWrapper{
    width: 1000px;
    min-height: 100vh;
    box-sizing: border-box;
    background-color: white;
    margin: 0 auto;
    border-radius: 6px;
    padding: 22px 16px;
    display: flex;
}